body {
  font-family: 'Inter', sans-serif;
  //background-image: url(./assets/bg-2.jpg);
  background-image: url(./assets/bg-mob.png);

  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  padding: 20px;
  text-align: center;
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

input {
  margin: 10px;
}

select {
  margin: 10px;
}

#jogadores {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

#time1,
#time2,
#time3,
#time4 {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

button,
label {
  background-color: navy;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
}

button:hover {
  scale: 1.05;
}

//---RESPONSIVIDADE-------------------------------------//

@media (min-width: 500px) {
  body {
    background-image: url(./assets/bg-mob2.png);
  }
}

@media (min-width: 820px) {
  body {
    background-image: url(./assets/bg-2.jpg);
  }
}
